{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    }
  ]
}
